/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Bloque */
html {
    border: 35px solid rgba(0, 0, 133, 0.779);
}

/* Elemento */
html__title {
    color: gray;
    text-align: right;
    font-size: 13px;
    padding-right: 60px;
    margin-top: -14px;
}

html__heading {
    padding-top: 2px;
    color: rgb(75, 185, 75);
    padding-left: 60px;
}

/* Bloque */
header {
    margin: 0;
    margin-bottom: 25px;
    padding-top: 10px;
    background-image: url("Css/0943/headgradient.png");
    font-size: 30px;
    padding-bottom: 0;
}

/* Modificador */
header--nav {
    min-width: 1250px;
    color: gray;
    font-size: 18px;
}

/* Elemento */
header--nav__list {
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    width: 1480px;
}

/* Elemento */
header--nav__list-item {
    line-height: 2px;
    float: left;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 25px;
}

/* Bloque */
image {
    margin: 10px auto;
    text-align: center;
}

/* Modificador */
image--large {
    width: 1437px;
    padding-bottom: 50px;
}

/* Bloque */
text {
    background-image: url("Css/0943/headgradient.png");
}

/* Elemento */
text__subtitle {
    color: rgb(8, 8, 155);
    font-size: 25px;
}

/* Elemento */
text__content {
    color: rgb(255, 102, 0);
    font-size: 25px;
}

/* Elemento */
text__content--narrow {
    width: 480px;
    margin-left: 40px;
}

/* Elemento */
text__content--wide {
    margin-left: 880px;
    width: 380px;
    height: 800px;
    padding: 0;
    font-size: 21px;
}

/* Bloque */
line {
    text-align: center;
}

/* Bloque */
footer {
    text-align: center;
    margin-bottom: 8px;
    background-image: url("Css/0943/headgradient.png");
}
